# Виртуальные окружения Python
venv/
.env/
env/
ENV/

# Файлы дампов и резервных копий
*dump.py
*.sql
*.bak
*.backup

# Файлы окружения
.env
.env.*
.env.local
.env.production

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python